<!DOCTYPE html>
<html>
<head>
  <title>Access Denied</title>
</head>
<style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Amiri', serif;
      margin: 20px;
      position: relative;
      background-color: white;
    }

    .margin {
        margin: 16px 0;
    }

    h2{
        color: rgb(236, 60, 60)
    }
  </style>
<body>
  <h2>An Error Occurred !</h2>
  <h3 class="margin">🛑 Some thing went wrong ! </h3>
  <p>If You think this an Error, please contact Administrator about this problem.</p>
</body>
</html>